
.bg{
    background-image:url(Imgs/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 890px;
}


.linkattr {
    font: 1em Arial, sans-serif;
    /* Set up the hover */
    /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
    background-image: linear-gradient(#11517F, #11517F), linear-gradient(white, white);
    background-size: 0 100%, auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s ease-out;
  }
  
  .linkattr:hover {
    background-color: #11517F;
    color: #fff;
    background-size: 100% 100%, auto;
  }

  .social{
    transition: all 0.2s ease-in-out;
  }

  .social:hover{
    transform: scale(1.5);
  }

.active{
  background-image: linear-gradient(#11517F, #11517F), linear-gradient(#11517F, #11517F);
  color: #fff;
}
 

.save{
  margin-top: 2px;
  border:2.5px solid #11517F;
  border-radius:50px;
  background-color: white;
  width: 100%;
}
.saveParent{
  border:2.5px solid #11517F;
  border-radius:50px;
  padding:2px;
  margin-top: 20px;
}


a{
  text-decoration: none;
  color: black;
}